<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cambiar Password</title>
  <link rel="stylesheet" th:href="@{/css/estilos.css}" />
</head>
<body>
<div class="container-recuperar">
  <h2>Cambiar Password</h2>
  <form th:action="@{/cambiar-password}" method="post">
    <input type="hidden" name="nombreUsuario" th:value="${nombreUsuario}" />

    <label for="nuevaContrasena">Nueva password:</label>
    <input type="password" id="nuevaContrasena" name="nuevaContrasena" required />

    <button type="submit">Guardar nueva password</button>
  </form>

  <div th:if="${mensaje}" class="mensaje-exito" th:text="${mensaje}"></div>
  <div th:if="${error}" class="mensaje-error" th:text="${error}"></div>

  <div class="volver-login">
    <a th:href="@{/login}">Volver al inicio de sesión</a>
  </div>
</div>
</body>
</html>
